extends baseEmail

block content
  p Hi #{firstname},
  p We’re thrilled to have you on board. Thank you for signing up with us!
  p To get started, click the button below to explore our organization:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Click to signin
  p If you need any help, please don't hesitate to contact me!
  p If you have any questions or need assistance, feel free to reach out to us at support@nimapinfotech.com.

  p Welcome aboard!
  p Nimap Team
  
  p - Nitesh shetye, CEO